#title{
    background-color: rgb(0, 0, 0);
}

/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

#heading{
    font-family: 'Ubuntu', sans-serif;
    size: 3rem;
    color: yellow;
    line-height: 1.5;
    text-align: center;
}
#heading:hover{
    font-family: 'Ubuntu', sans-serif;
    size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}


#sub-heading{
    font-family: 'Ubuntu', sans-serif;
    size: 3rem;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler-icon{
    background-color: yellow!important;
    color: black;
}



.navbar{
    /* padding-bottom: 6rem!important; */
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem!important;
    color: white!important;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem!important;
    font-family: 'Montserrat', sans-serif;
}

.custombutton{
    margin: 5% 5% 5% 5%!important;

}

#seepackages{
    color: #fff;
    font-weight: bold;
}
#seepackages:hover{
    background-color: rgb(253, 253, 168)!important;
    color: black!important;
}

#chatnow:hover{
    background-color: rgb(253, 253, 168)!important;
    color: black!important;
}

#titlename:hover{
    color: yellow!important;
}

.nav-link:hover{
    color: #fff !important;
}

.feature{
    padding:11% 5%;
    text-align: center;
}

h3{
    font-family: 'Montserrat-bolder';
    color: rgb(10, 6, 6)!important;
    margin-top:6%!important ;
}

p{
   color: #8f8f8f;
   color: rgb(29, 13, 13)!important;
}

.icon{
    color: rgb(255, 68, 68)!important;
    margin-bottom:1% ;
}

.icon:hover{
    color:yellow!important;
}

#testimonials{
    background-color: black;
    color: yellow;
}

.carousel-item{
    padding: 7% 15%;
}

#testimonials{
    /* padding: 7% 15%; */
    text-align: center;
}

.pricings{
    padding: 100px;
}

.pricing-column{
    padding: 5% 2%;
    
}

.card-body{
    padding: 10% 2% 1% 2%;
}

#footer{
    padding: 2% 15%;
    text-align: center;
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
}
